*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'VerlagBook' !important;
    letter-spacing: 0.5px;
    font-size: 15px;
    font-variant-numeric: lining-nums;
    -webkit-font-smoothing: antialiased;
}
.container {
    padding-right: 10px;
    padding-left: 10px;
}

.pd-30{
    padding:30px 0;
}
.pd-z{
    padding:0 !important;
}
.Custom-title{
    color: #000;
    font-size: 30px;
    text-align: center;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: bold;
}
p{
    margin: 0 0 10px;
}
.hr-line{
    width: 30%;
    margin-left: 33%;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 0;
    border-top: 2px solid #eee;
    border-image: linear-gradient(to left,#fff 1%,#a40001 50%,#fff 100%) 0 0 100% 0/0 0 3px 0 stretch
}

.fix-left{
    position: sticky;
    top: 25px;
}

/* !Left Side From CSS Start */
.custom-form{
    background-color: #fff;
    box-shadow: 0 0 5px 0 #80808082;
    border-radius: 5px;
}
.form-group{
    margin-bottom: 15px;
    padding: 2px 13px;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}
.font-18{
    font-size: 18px;
}
.mark_red{
    color: red;
}
.mark_black{
    color:#000
}

.radio-new {
    display: inline-block;
    /* position: relative; */
    padding-left: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
    cursor: pointer;
    font-weight: normal;
    /* user-select: none; */
    text-align: left;
    padding-right: 20px;
}
.radio-new input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* !Left Side From CSS End */

































/* @media (min-width: 768px){
.container {
    width: 750px;
}
} */